[Unit]
Description=Python Backend server
After=multi-user.target[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/ubuntu/IsraeliTime/python-src/main.py
WantedBy=multi-user.target