[Unit]
Description=Python Backend server
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/ubuntu/IsraeliTime/python-src/
ExecStart=uvicorn example:app --log-config python-src/log.ini --host 127.0.0.1 --port 8080
StandardOutput=/var/log/fastapi.log
StandardError=/var/log/fastapi_error.log

[Install]
WantedBy=multi-user.target